*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background-color: rgb(213, 206, 198);

  .logo-container {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
  }

  span {
    font-weight: 800;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    font-family: "Shadows Into Light", cursive;
  }

  ul {
    display: flex;
    gap: 5rem;
    font-weight: 800;
    font-size: 1.3rem;
  }
  .log {
    width: 5rem;
    height: 2.5rem;
    font-weight: 700;
    margin: 1.9rem 0rem;
    color: white;
    cursor: pointer;
    border-radius: 6px;
  }
}
